<form action="/contact/" method="POST">
    {% csrf_token %}

        <div>
            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="email">Ваш email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" required></textarea>
        </div>
            * Для бронирования и ускоренного получения ответа <a href="{% url 'users:register' %} ">зарегистрируйтесь</a>
        </div>


    <button type="submit">Отправить</button>
</form>
