<!-- profile.html: Личный кабинет. Показывает историю бронирований. -->

{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container">
  <h2>Мои бронирования</h2>
  <ul class="list-group">
    {% for reservation in reservations %}
      <li class="list-group-item">
        Дата: {{ reservation.date }}, Время: {{ reservation.time }}, Столик: {{ reservation.table }}
      </li>
    {% endfor %}
  </ul>
  <a href="/profile/edit/" class="btn btn-warning">Изменить бронирование</a>
  <a href="/profile/cancel/" class="btn btn-danger">Отменить бронирование</a>
</div>
{% endblock %}
