<!-- profile.html: Личный кабинет. Показывает историю бронирований. -->

{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container">
  <h2>Мои бронирования</h2>

  <ul class="list-group">
    {% for reservation in reservations %}
      <li class="list-group-item">
        Дата: {{ reservation.date }}, Время: {{ reservation.time }}, Столик: {{ reservation.table }}
          <td>
            <a href="{% url 'reservation_update' reservation.id %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'reservation_delete' reservation.id %}" class="btn btn-primary">Удалить</a>
          </td>
      </li>
    {% endfor %}
  </ul>
    <div> <br>
        * Вам видны только подтвержденные бронирования. Для подтверждения бронирования, пройдите по ссылке в письме с информацией о бронировании, отправленном на ваш почтовый ящик.
    </div>
</div>
{% endblock %}
